/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Orbitron:wght@400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: "Manrope", sans-serif; */
/* font-family: "Orbitron", sans-serif;  */

:root {
  --dark-bg: #0a1824;
  --dark: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  width: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  height: 100%;
  user-select: none;
  font-family: "Manrope", sans-serif;
}

/* 2d implement */
.box {
  /* display: flex; */
  height: 100%;
  width: 100%;
  /* justify-content: center; */
  /* align-items: center; */
  /* perspective: 1500px; */
  /* overflow: hidden; */
  /* border: 1px solid purple; */
}
.orbit {
  width: calc(100% - 100px);
  aspect-ratio: 1;
  /* height: 500px; */
  /* border: 1px solid white; */
  position: relative;
  border-radius: 50%;
  transform: rotateX(70deg);
  transition: 2s;
}

.obj {
  width: 200px;
  height: 500px;
  /* background-color: red; */
  position: absolute;
  /* border-radius: 50%; */
}

.obj-3 {
  /* width: 0vw;
  height: 0vh; */
  /* border: 1px solid red; */
  /* background-color: red; */
  width: 500px;
  height: 200px;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%) ;
}
.obj-2 {
  /* width: 50vw; */
  /* height: 100vh; */
  /* border: 1px solid green; */
  /* background-color: green; */
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: translateX(50%);
}
.obj-1 {
  width: 50vw;
  height: 250vh;
  /* border: 1px solid blue; */
  /* background-color: blue; */
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  transform: translateY(65%);
}
.obj-4 {
  /* width: 50vw; */
  /* height: 100vh; */
  /* border: 1px solid orange; */
  /* background-color: orange; */

  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  transform: translateX(-50%);
}

/* components */
@layer components {
  .sub-text {
    @apply font-serif text-secondary;
  }
  /* kebab-case - stick to the kebab-case */
  .flexCenter {
    @apply flex justify-center items-center;
  }
  .detail-sub-text {
    @apply sub-text text-lg w-[50vw];
  }
  .info-sub-text {
    @apply tracking-widest text-secondary text-lg uppercase;
  }
}
